.row
    .small-10.medium-12.large-8.small-centered.columns
        header
            h1 Ace #[span.amper &] Kevin
.row
    .small-12.columns
        | <div style='position: relative; padding-bottom: 76%; height: 0; overflow: hidden;'><iframe id='iframe' src='http://flickrit.com/slideshowholder.php?height=75&size=big&setId=72157651934827740&counter=true&trans=1&theme=1&thumbnails=1&transition=4&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>
.row
    .small-12.columns
        | <iframe width="100%" height="720" src="https://www.youtube.com/embed/sshe0cWwzMk?rel=0" frameborder="0" allowfullscreen></iframe>
.row
    .small-12.large-11.columns
        h5 #ahnothermuncie
        | <script src="http://snapwidget.com/js/snapwidget.js"></script>
        | <iframe src="http://snapwidget.com/in/?h=YWhub3RoZXJtdW5jaWV8aW58MTI1fDR8MTB8fG5vfDV8bm9uZXxvblN0YXJ0fG5vfHllcw==&ve=240315" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>

.row
    .small-12.columns.love
        h2 We love you!!
        hr
        .row
            .small-12.medium-9.small-centered.columns
                p.
                    #[span.big W]e deeply love all of you and cherish the many ways you have had deep and lasting impact on our lives.
                    In the new system we will have a giant gathering on top of a mountain meadow where we will enjoy great food and spend hours
                    talking and sharing stories of our lives and how Jehovah has blessed us.
                p.
                    For now however, we must be modest and live within our means. The Watchtower has some wonderful articles on how to
                    #[a(href="http://wol.jw.org/en/wol/d/r1/lp-e/2006767") increase the joy and dignity of a wedding], and we have studied these numerous times
                    in our family worship. For that reason we have attempted to keep our wedding very small and modest. 
                    We have no bridal party, we are trying to invite only around 50-75, and the reception will be a small simple affair.
                p.
                    Instead of inviting hundreds of you to the expense of travel, lodging, and our inevitable desire to provide an unforgettable event, we 
                    would much rather have a small dignified wedding which will bring honor to Jehovah and the marriage arrangement... and then have many smaller gatherings
                    in the coming months where we can enjoy your company and love in a meaningful way.
                p.
                    We are saying many prayers that you will understand our reasons for these decisions and know how much we truly do love each of you and
                    look forward to enjoying the rest of our lives with you doing many wonderful things together. Thank you for your support and for caring
                    about us both so much!
                p.sig 
                    — Ace & Kevin

                | <div class="typeform-widget" data-url="https://kmuncie.typeform.com/to/MaXNbS" data-text="Wedding Guest Book" style="width:100%;height:500px;"></div>
                | <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
                | <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_MaXNbS&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform</a></div>

.row
    .small-12.large-11.small-centered.columns.gifts
        h3 Gifts?
        hr
        p.
            Because of our situation at Bethel we are in need of very little physically.
            The only things we need are more vacation days and money for times of need.
            If you would like to help us with the money part you can do so by means of a check or 
            sending money without fees online with the #[a(href="https://cash.me/$wedding") Square service].
        .row.address
            .small-12.medium-6.columns
                h5 Mailing Address
                p 124 Columbia Heights Brooklyn, NY 11201
            .small-12.medium-6.columns
                a(class='button expand', href='https://cash.me/$wedding') Send money with no fee!

.row
    .small-12.columns.photos
        h2 Our Photos
        a(class='button expand', href='/photos.html') See photos of Ace & Kevin!
//- - var pics1 = ["IMG_0077","camping","IMG_0225","IMG_0485","IMG_0613","campingcar","IMG_1398","IMG_1412","IMG_1459","IMG_2156","IMG_1587","IMG_1708","IMG_3498","IMG_3499"];
//- - var pics2 = ["IMG_3500","IMG_2202","IMG_1242","IMG_2713","IMG_2795","IMG_2092","IMG_3208","IMG_3316","IMG_3349","IMG_1928","IMG_3413"];
//- .Collage
//-     each pic in pics1
//-         img(src="../images/#{pic}.JPG")
//-     each pic in pics2
//-         img(src="../images/#{pic}.JPG")